meta(property="og:image" content=path + "fb-thumb.png")
meta(property="og:title" content=title + " " + (subtitle.toLowerCase() || ''))
title
  !{title + ' ' + (subtitle.toLowerCase() || '')}
if twitterCreator
  meta(name="twitter:creator" content=twitterCreator)
