script(src=basepath + "/scripts/d3.js" charset="utf-8")
script(src=basepath + "/scripts/angular.js" charset="utf-8")
script(src=basepath + "/scripts/common.js" charset="utf-8")
link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css')
link(rel="stylesheet" href= basepath + "/styles/style.css" type="text/css")