meta(name="viewport" content="width=1100")
meta(charset="utf-8")
if typeof excludeCommonScriptHeader === 'undefined' && !excludeCommonScriptHeader
  script(src=basepath + "scripts/d3.js" charset="utf-8")
  script(src=basepath + "scripts/angular.js" charset="utf-8")
  script(src=basepath + "scripts/common.js" charset="utf-8")
if !dev
  link(href='//fonts.googleapis.com/css?family=Lato:100,200,300,400' rel='stylesheet' type='text/css')
link(rel="stylesheet" href= basepath + "styles/style.css" type="text/css")
meta(property="og:site_name" content="Explained Visually")
meta(name="twitter:site" content="@setosaio")