mixin share
  .share
    iframe.fb-iframe(src= path || basepath scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true")
    a.twitter-share-button(href="https://twitter.com/share" data-via="setosaio") Tweet
    script(type='text/javascript').
      !function(d,s,id){
        var js
          , fjs = d.getElementsByTagName(s)[0]
          , p = /^http:/.test(d.location) ? 'http' : 'https';
        if(!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + '://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document, 'script', 'twitter-wjs');