include ../../templates/common.jade

doctype html
html
  head
    include ../../templates/head
    include ../../templates/explanation-head
    link(rel="stylesheet" href= path + "style.css" type="text/css")
  body(ng-app="myApp" ng-controller="MainCtrl")
    section.menu
      a(href=basepath) Back
    section.title
      .title-region
        h1.title !{title}
        h3.by-line !{subtitle}
      +share
    section
      +authors
      h1 Transforms
      matrix-as-image-transform
      h1 Eigen Vectors
      eigen-vectors
      h1 Eigen Space
      //- eigen-space
      repeated-matrix-multiplication
      div(ng-controller="StochasticMatrixMultiplicationCtrl" style="position:relative")
        stochastic-matrix-multiplication
    +footer
    +disqus

  script(src=path + "script.js")
