include ../../templates/common.jade

doctype html
html
  head
    include ../../templates/head
    link(rel="stylesheet" href= path + "/style.css" type="text/css")
    meta(property="og:image" content= path + "fb-thumb.png")
  body(ng-app="myApp" ng-controller="MainCtrl")
    section.menu
      a(href=basepath) Back
    section.title
      .title-region
        h1.title !{title}
        h3.by-line Explained visually
      +share
    section
      p.
        By <a href="http://twitter.com/vicapow">Victor Powell</a>
      p We seem primed to understand linear growth, but lots of  processes in finance, ecology, physics and other fields depend on exponential growth.
      
      div(ng-controller="SimpleGrowthCtrl")
        p Here's a simple visualization to help conceptualize this type of growth. It starts off <b>{{opts.rateLabel}}</b> with every step. Adjust the rate to see {{opts.otherRateLabels.join(' and ')}}.
        button.btn.btn-primary(ng-click="$emit('restart')") Restart
        label rate:
        select(ng-model="opts.rate" ng-options="num as 'x' + num for num in [2,3,4]")
        input(type="range" ng-model="opts.steps" min="1" max="8")
        span steps: {{opts.steps}}
        input(type="range" ng-model="opts.speed" min="1" step="1" max="10")
        span speed: {{opts.speed}}
        br
        br
        simple-growth
    section
      h3 Linear growth
      p Most of us already have an intuition for linear growth. In the example below, each step adds a fixed amount to the total.
      div(ng-controller="LinearGrowthDemoCtrl")
        button.btn.btn-primary(ng-click="$emit('reset')") restart
        label rate:
        selct(ng-model="opts.rate" ng-options="num as '+' + num for num in [1,2,3,4,5]")
        input(type="range" ng-model="opts.steps" min="5" max="20")
        span steps: {{opts.steps}}
        input(type="range" ng-model="opts.speed" min="1" step="1" max="20")
        span speed: {{opts.speed}}
        growth-demo(growth-type="linear")
    section
      h3 Exponential growth
      p With exponential growth, on the other hand, each step multiplies the total by a fixed amount. So, exponentiation is  repeated multiplication in the same way that linear growth is repeated addition.
      div(ng-controller="ExponentialGrowthDemoCtrl")
        button(class="btn btn-primary" ng-click="$emit('reset')") restart
        label rate:
        select(ng-model="opts.rate" ng-options="num as 'x' + num for num in [2,3,4]")
        input(type="range" ng-model="opts.steps" min="5" max="20")
        span steps: {{opts.steps}}
        input(type="range" ng-model="opts.speed" min="1" step="1" max="20")
        span speed: {{opts.speed}}
        growth-demo(growth-type="exponential")
    section
      h3 Example
      p The following is a naive model of the spread of a virus in a population. The number of infected individuals grows exponentially up until the virus runs out of people to infect.
      div(ng-controller="ViralDemoCtrl")
        button.btn.btn-primary(ng-click="$emit('restart')") restart
        input(type="range" ng-model="opts.speed" min="1" step="1" max="10")
        span speed: {{opts.speed}}
        virus-demo
    +footer
    +disqus
  script(type="text/javascript")
    include script.js